.home {
    text-align: left;
}

.pre {
    padding: 5px;
    display: inline;
    margin-left: 5px;
    background-color: rgba(128, 128, 128, 0.13);
}

.box {
    margin: 20px 0 20px 0;
}

.list {
    margin-left: 15px;
}