.edit {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit__content {
    background-color: white;
}