.footer {
    background-color: black;
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    padding: 16px 50px;
    font-size: large;
    margin: 0 auto;
}

.link {
    color: #5a5ad3;
    text-decoration: underline;
    transition: 500ms color ease;
}

.link:hover {
    color: #3333cc;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }

    .menu {
        margin-top: 16px;
        flex-direction: column;
        gap: 5px;
        max-width: 194px;
    }
}