header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 16px 50px;
    font-size: large;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

